.InteractiveHeader {
    text-align: center;  
    background-image: url('../img/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &__title {
        font-size: 1.3rem;
    }

    &__subtitle {
        font-size: 1rem;
    }
}